name: Draft Release
on: workflow_dispatch

permissions:
  contents: write
  pull-requests: write

jobs:
  draft-release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          ref: main
          fetch-depth: 0

      - name: Draft Release
        uses: nalchevanidze/releasy/actions/draft-release@main
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
