name: Publish Release
on:
  pull_request:
    types: [closed]

jobs:
  publish_release:
    if: ${{ github.base_ref == 'main' && startsWith(github.head_ref, 'publish-release/') && github.event.pull_request.merged == true  }}
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4

      - name: Publish to Registry
        run: # Commands to publish package to registry

      - uses: nalchevanidze/relasy/actions/publish-release@main
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
