name: Publish Release
on:
  pull_request:
    types: [closed]

permissions:
  contents: write
  
jobs:
  publish_release:
    if: ${{ github.base_ref == 'main' && startsWith(github.head_ref, 'release-') && github.event.pull_request.merged == true  }}
    runs-on: ubuntu-latest
    outputs:
      upload_url: ${{ steps.publish.outputs.upload_url }}
    steps:
      - uses: actions/checkout@v4

      - name: Publish to Registry
        run: # Commands to publish package to registry

      - name: Publish Release
        uses: nalchevanidze/relasy/actions/publish-release@main
        id: publish
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
